.users .createBtn {
    display: block;
    margin: auto;
}

.users .editBtn {
    background-color: #fbcf14;
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
}

.users .deleteBtn {
    background-color: red;
    padding: 5px;
}