html,
body {
    height: 100vh;
}

#root {
    font-size: 16px;
    overflow-x: hidden;
    color: #000000;
    height: 100vh;
    display: flex;
}

*:not(select) {
    border: none;
    outline: none;
}

.errorMsg {
    color: red;
    font-size: 14px;
}

.table {
    margin: 15px auto;
    width: 100%;
    max-width: 800px;
}

.table tr{
    border-bottom: 1px solid black;
}

.table  td, .table th {
    padding: 12px;
}

.button {
    background-color: #000000;
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
}

.spinner-border {
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}