#header {
    padding: 16px 0;
    border-bottom: 1px solid #cad7e3;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

#header .brand {
    font-size: 24px;
    font-weight: bold;
}