.modal-content {
    border-radius: 16px !important;
}

.modal-content .headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
}

.modal-content .closeBtn {
    cursor: pointer;
}

.modal-content .button {
    padding: 12px 20px;
    display: block;
    margin: auto;
}

.modalBtn {
    display: none;
}

@media (min-width: 650px) {
    .modal-md {
        max-width: 600px !important;
    }
}